.App {
  margin: 0 auto;
  padding: 20px;
  min-height: 800px;
  max-width: 900px;
  background-image: url(/media/dictionary.jpeg);
  border-radius: 5px;
  box-shadow: hsla(43, 26%, 62%, 0.8) 0px 10px 10px 0;
}

section {
  opacity: 0.9;
}
/* .container {
  min-height: 800px;
  max-width: 900px;
  align-items: center;
  margin: 0 auto;
  padding: 30px 50px 30px 30px;
  border-radius: 5px;
  box-shadow: rgba(73, 73, 82, 0.8) 0px 10px 10px 0;

  opacity: 80%;
} */

.App-header {
  font-size: 60px;
  text-align: center;
}

.Synonyms {
  padding: 20px;
}

a {
  color: red;
}
