.App {
  max-width: 960px;
  margin: 0 auto;
}

.container {
  min-height: 800px;
  max-width: 900px;
  align-items: center;
  margin: 0 auto;
  padding: 30px 50px 30px 30px;
  border-radius: 5px;
  box-shadow: rgba(73, 73, 82, 0.8) 0px 10px 10px 0;
  background-image: url(/media/dictionary.jpeg);
  opacity: 90%;
}
